html, body{
    height:100%;
}

body {
  font-size:16px;
  font-family: "Roboto",sans-serif;
}
  
.gb_F.gb_H {
    min-height: 196px;
    overflow-y: auto;
    width: 330px;
  }
  
  
  .gb_J {
    background: #fff;
    margin: 0;
    padding: 28px;
    padding-right: 27px;
    text-align: left;
    white-space: normal;
    width: 274px;
  }
  
  .gb_F {
    z-index: 991;
    line-height: normal;
  }
  
  
  
  
  .gb_A, .gb_J.gb_A:not(.gb_l), .gb_A+.gb_L, .gb_N .gb_L, .gb_N .gb_J {
    display: block;
  }
  
  .gb_X .gb_J {
    position: relative;
  }
  
  .gb_f {
    color: rgba(0,0,0,0.87);
    display: inline-block;
    font-size: 13px;
    margin: 8px 2px;
    text-align: center;
    outline: none;
  }
  
  .gb_f .gb_s {
    -webkit-background-size: 64px;
    background-size: 64px;
    display: inline-block;
    height: 64px;
    vertical-align: top;
    width: 64px;
  }
  
  .gb_f[draggable=false] {
    -webkit-user-select: none;
  }
  
  .gb_sa a, .gb_wc a {
    color: inherit;
  }
  
  .gb_r {
  
    display: inline-block;
    height: 64px;
    vertical-align: top;
    width: 64px;
  
    background-image: url("../images/6234ef5932f4199ef46cd03034cdf1fc.png");
    -webkit-background-size: 64px 2686px;
    background-size: 64px 2686px;
  }
  
  .gb_t {
    display: block;
    line-height: 20px;
    overflow: hidden;
    white-space: nowrap;
    width: 84px;
    text-overflow: ellipsis;
  }
  .gb_t {
    color: rgba(0,0,0,0.87);
  }
  
  
  .gb_k {
    padding: 1px;
    display: inline-block;
    vertical-align: top;
    color: black;
    z-index: 999;
    height: 98px;
    width: 86px;
  }
  
  .gb_k a {
    text-decoration: none;
  }
  
  
  ul {
    list-style-type: disc;
  }
  
  .gb_w {
    float: left;
    width: 0;
    height: 0;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-right: 5px solid #4273db;
  }
  
  .gb_w, .gb_x {
    position: relative;
    top: 27px;
    visibility: hidden;
  }
  
  .gb_x {
    float: right;
    width: 0;
    height: 0;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 5px solid #4273db;
  }
  
  .gb_y {
    position: absolute;
    top: 0;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid #4273db;
  }
  
  .gb_y, .gb_z {
    left: 37px;
    visibility: hidden;
  }
  
  .gb_z {
    position: absolute;
    top: 59px;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #4273db;
  }


  
.footer{
    display: flex;
    font-family: Roboto, sans-serif;
    color: #616161;
    background-color: #f1f3f4;
    left: 0;
    margin-bottom: 0;
    width: 100%;
    text-align: center;
    flex-shrink: 0;
  }
  
  #container{
   min-height: 100%;
  
  }
  
  #main{
    overflow: auto;
    padding-bottom: 50px;
  
  }
  
  #footer {
    background-color: #f1f3f4;
    position: relative;
    height: 50px;
    margin-top: -50px;
    clear: both;
  }
  
  .copyright{
    padding: 15px 0;
    text-align: center;
    color: #616161;
  }


  a {
    color: currentcolor;
    text-decoration: none;
  }