<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Forgot password</title>
  <link rel="shortcut icon" href="https://material.io/favicon.ico">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.min.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700">
  <link rel="stylesheet" href="resources/css/bundle.css">
   <style>
        body {
            font-size:16px;
            font-family: "Roboto",sans-serif;
        }

        .login_form{
            background-color: #fff;
        }

        .mdc-elevation--z4{
            height: 330px;
        }

        .login_title{
            line-height:0;
            font-size: 1.5rem;
            font-weight:500;
            margin-left:10px;
            text-align:left;
            color: #031b4e;
        }

        .login_error{
            color: red;
            line-height:0;
        }
        p{
            margin-top:40px;
            text-align:justify;
            margin-left:10px;
        }
        .login-button-container{
            background: #fff;
            padding:0;
            display: flex;
           justify-content: space-between;
        }
   </style>
</head>

<body class="shrine-login mdc-elevation--z4">

<div class="login_form">

        <section class="login_header">
            <!--<img src="resources/images/gregfins_logo1.svg" />-->
            <h1 class="login_title">Forgot password?</h1>
            {{if .LoginError}}<span class="login_error">{{.LoginError}}</span>{{end}}
            <p>Enter the email address associated with your account and we will send you a link to reset your password.</p>
        </section>


        <form action="/forgot_password" method="post">

            <div class="mdc-text-field username">
            <input type="text" class="mdc-text-field__input" id="username-input" name="username" required>
            <label class="mdc-floating-label" for="username-input">Email address</label>
            <div class="mdc-line-ripple"></div>
            </div>



            <div class="login-button-container">


                <button class="mdc-button mdc-button--raised next">
                    <span class="mdc-button__label">
                        Request password reset
                    </span>
                </button>


            </div>
        </form>

        

</div>

 <script src="resources/js/forget_password.js" async></script>
</body>
</html>